doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="style.css")
  body
    div(style=" background-color: rgb(14,26,54); color: rgb(216,203,164); display: flex; align-items: center; justify-content: space-between")
      h1(style="margin-left: 20px") Lugo Store
      nav
        ul(style="display: flex; gap: 50px; list-style: none; margin-right: 50px")
          li: a(href="/")(style="text-decoration: none; font-size: 16px; color: rgb(216,203,164)") Home
          li: a(href="/services")(style="text-decoration: none; color: rgb(216,203,164)") Our Services
          li: a(href="/contact")(style="text-decoration: none; color: rgb(216,203,164)") Contact us


    div(style="text-align: center; margin-top: 10rem")
      h1(style="margin-bottom: 4rem") Contact Us
        h4 Address
        p(style="margin-bottom: 4rem") 1234 Main Street, Anytown, USA

        h4 Contact
        p Phone: +234-810-033-2516
        p Email: luonatech@gmail.com


    


