doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div(style=" background-color: rgb(14,26,54); color: rgb(216,203,164); display: flex; align-items: center; justify-content: space-between")
            h1(style="margin-left: 20px") Lugo Store
            nav
                ul(style="display: flex; gap: 50px; list-style: none; margin-right: 50px")
                    li: a(href="/")(style="text-decoration: none; font-size: 16px; color: rgb(216,203,164)") Home
                    li: a(href="/services")(style="text-decoration: none; color: rgb(216,203,164)") Our Services
                    li: a(href="/contact")(style="text-decoration: none; color: rgb(216,203,164)") Contact us
        
        h2(style="text-align: center; margin-top: 3rem; margin-left: -3rem") Buy What You Love! 
        img(src="/images/our-services2.png")(style="width: 100%") 
            
    